# Environments
.env
.env.*
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Media files
*.mp4
